body
{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*
{
  margin: 0;
  padding: 0;
}
body
{
  background: url("https://ampir.ru/upload/iblock/135/13566b3189b3ba3580b9d9024328ca87.jpeg");
}
input
{
  cursor: pointer;
  outline: none;
  border: solid 2px #f2f2f2;
}
select
{
  cursor: pointer;
}
h1, h2
{
  font: normal 170% 'century gothic';
  margin: 0 0 15px 0;
  color: black;
}
h2
{
  font-size: 140%;
}
a, a:hover
{
  text-decoration: none ;
  outline: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}
thead th {
  font: normal 100% 'century gothic';
  color: white;
  position: sticky;
  top: 0;
  background: steelblue;
  border: 2px solid #f9f9f9;
}
th, td {
  background: #c3daf8;
  border: 2px solid #f9f9f9 ;
  height: 25px;
}
select {
  font: 400 90% "century gothic", sans-serif;
  background-color: #f2f2f2;
  border: 2px solid #999;
  border-radius: 5px;
  width: 130px;
  height: 30px;
}
.App
{
  display: grid;
  height: 100vh;
  grid-template-rows: 10vh 1fr 10vh;
}
.header
{
  background-color: #23669e;
  height: 100px;
  font-size: 0.8em;
  min-width: 900px;
}
.footer
{
  background-color: #23669e;
}
.footer_text
{
  font: normal 100% "century gothic", sans-serif;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  color: white;
}
.logo
{
  width: 880px;
}
.logo h1, .logo h2
{
  font: normal 300% "century gothic", sans-serif;
  margin: 0 8px 0 8px;
}
.sub_logo h1, .sub_logo h1 a, .sub_logo h1 a:hover
{
  padding: 22px 0 0 0;
  color: white;
  letter-spacing: 0.1em;
  text-decoration: none;

}
.sub_logo h2
{
  padding: 4px 0 0 0;
  color: #999;
  font-size: 0.9em;
}

.logo, .content
{
  margin-left: auto;
  margin-right: auto;
}

.content
{
  overflow-y: auto;
  justify-content: space-between;
  display: flex;
  width: 880px;
    margin: 62px auto 0px auto;

}
.sidebar_cont
{
  float: right;
  width: 220px;
  height: auto;
}
.sidebar, .sidebar_settings
{
  float: right;
  width: 222px;
  padding: 5%;
  margin: 0 0 16px 0;
  border: solid 2px #c1c1c1;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.sidebar_settings
{
  font: normal 100% "century gothic", sans-serif;
}
.sidebar h2, .sidebar_settings h2
{
  color: #23669e;
}
.main_content
{
  height: auto;
  width: 640px;
}
.container {
  width: 500px;
  overflow: auto;
  border: solid 2px #c1c1c1;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding-right: 1%;
  padding-left: 1%;
  max-height: calc(100% - 28px);
}
.income
{
  color: green;
}
.outcome
{
  color: red;
}
